body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: #f9f9f9;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 350px;
}

nav{
    position: sticky;
    top: 0px;
    padding: 10px 0px;
}

.navigation{
    margin: 3rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation a {
    text-decoration: none;
    color: inherit;
    position: relative;
    padding-bottom: 5px; /* Space for the underline */
}

.navigation #homepage-link{
    align-items: center;
    font-weight: bolder;
    letter-spacing: 3px;
}

.navigation a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px; /* Thickness of the line */
    background-color: black; /* Line color */
    transition: width 0.3s ease-in-out;
}

.navigation a:hover::after {
    width: 100%;
}

.nav-sections{
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    align-items: center;
}

#about-section{
    margin: 0 300px;
}


.profile-pic img{
    width: 500px;
    clip-path: circle(35% at 16rem 40%);
}

.profile-pic{
    filter: drop-shadow(0px 6px 3px rgba(0, 0, 0, 0.1));
}

.summary p{
    text-align: center;
}

.section-title{
    margin-bottom: 40px;
}

.experience-grid, .project-grid{
    display: flex;
    justify-content: space-between;
}

.experience-card, .project-card{
    width: 350px;
    padding: 20px;
    margin-right: 50px;
    border-radius: 20px;
    /* box-shadow: 0 0 20px rgba(50, 50, 0, 0.5); */
    transition: all 300ms;
    cursor: pointer;
}


.experience-card:hover, .project-card:hover{
    /* transform: scale(1.1); */
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1) inset,
    -10px -10px 10px white inset;
}

.job-header{
    display: flex;
    justify-content: space-between;
}

.project-header{
    display: flex;
    justify-content: center;
}

.job-description, .project-description{
    width: auto;
}

#job-title, #project-title{
    font-weight: bold;
    font-size: large;
}

#project-title{
    text-align: center;
}

.project-link{
    display: flex;
    justify-content: center;
}

.project-link img{
    width: 10px;
    margin-left: 5px;
}

.project-link:hover img{
    transition: all 300ms ease-in-out;
    margin-left: 15px;
}

.skills-elements{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    place-content: center;

    max-width: 65rem;
    margin-inline: auto;
}

.skills-elements span{
    padding: 20px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.summary{
    font-size: large;
}